Failed on Server's Preferred Address (SPA) Migration using Quiche

Dear Admins,

I am a relatively new user of both QUIC and Quiche.

Based on RFC 9000 [Section 9.6](https://datatracker.ietf.org/doc/html/rfc9000#section-9.6), there is a possible migration on the server side to migrate the whole connection into the server's preferred address.

I have made some searches on it and showed me at [here](https://quiche.googlesource.com/quiche/%2B/f5ad35f7863c7f52a934d414d033ebdf8e04f35e). And such results lead me nowhere in progress. 

Could someone direct me to either a working example or a quick demo for Quiche's SPA migration?

Best,